FREQUENCY PORT "i_clk" 25 MHZ;

LOCATE COMP "i_clk" SITE "P6";
IOBUF PORT "i_clk" IO_TYPE=LVCMOS33;

LOCATE COMP "nrst" SITE "R7";
IOBUF PORT "nrst" IO_TYPE=LVCMOS33;

LOCATE COMP "out_bclk" SITE "D16";
IOBUF PORT "out_bclk" IO_TYPE=LVCMOS33;

LOCATE COMP "out_wclk" SITE "E15";
IOBUF PORT "out_wclk" IO_TYPE=LVCMOS33;

LOCATE COMP "out_data" SITE "C16";
IOBUF PORT "out_data" IO_TYPE=LVCMOS33;
