FREQUENCY PORT "i_clk" 25 MHZ;

LOCATE COMP "i_clk" SITE "P6";
IOBUF PORT "i_clk" IO_TYPE=LVCMOS33;

LOCATE COMP "nrst" SITE "R7";
IOBUF PORT "nrst" IO_TYPE=LVCMOS33;

LOCATE COMP "bclk" SITE "C4";
IOBUF PORT "bclk" IO_TYPE=LVCMOS33;

LOCATE COMP "wclk" SITE "D4";
IOBUF PORT "wclk" IO_TYPE=LVCMOS33;

LOCATE COMP "di" SITE "E4";
IOBUF PORT "di" IO_TYPE=LVCMOS33;

LOCATE COMP "left_pdm_out" SITE "F2";
IOBUF PORT "left_pdm_out" IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=4;

LOCATE COMP "right_pdm_out" SITE "C2";
IOBUF PORT "right_pdm_out" IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=4;

LOCATE COMP "effect_button" SITE "P2";
IOBUF PORT "effect_button" IO_TYPE=LVCMOS33 PULLMODE=UP;

